JoyfulTreats.Api/bin
JoyfulTreats.Api/obj
JoyfulTreats.Application/bin
JoyfulTreats.Application/obj
JoyfulTreats.Domain/bin
JoyfulTreats.Domain/obj
JoyfulTreats.Infrastructure/bin
JoyfulTreats.Infrastructure/obj

